page-home {
  .head-title{
    text-align: center;
  }

  .cards {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 0;
      font-size: 1.5em;
      width: 100%;
      font-weight: bold;
      color: rgb(7, 165, 7);
    }
  
    .card-subtitle {
      font-size: 1.2em;
      position: absolute;
      top: 80%;
      width: 100%;
      font-weight: bold;
      color: rgb(7, 165, 7);
    }
  
  }
}
